
   h1 { 
        color: crimson;
        font-family: Georgia, serif;
        font-size: 48px;      
      }
    
    body {
        font-family: Arial, sans-serif;
        color: #3B2B20;
    }

    footer {
      background-color: #8B3A3A;
      color: #fff8E7;
      font-family: Georgia, serif;
      font-size: 14px;
      text-align: center;

       width: 100%;
    }
      .endereco {
  
      bottom: 45;
      left: 0;
      width: 100%;
      background-color: #FDEBD3;
      text-align: center;
    }

    